<ion-header>
  <ion-toolbar>
    <ion-title>newone</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-label>
      약 이름을 입력해 주세요
    </ion-label>
    <ion-serchbar></ion-serchbar>
  </ion-list>
  <ion-list>
    <ion-list-header>복용 요일을 선택해주세요</ion-list-header>
    <ion-item>      
      <ion-checkbox checked slot="start" value="Mon">월요일</ion-checkbox>
      <ion-checkbox checked slot="start" value="Tue">화요일</ion-checkbox>
      <ion-checkbox checked slot="start" value="Wed">수요일</ion-checkbox>
      <ion-checkbox checked slot="start" value="Thu">목요일</ion-checkbox>
      <ion-checkbox checked slot="start" value="Fri">금요일</ion-checkbox>
      <ion-checkbox checked slot="start" value="Sat">토요일</ion-checkbox>
      <ion-checkbox checked slot="start" value="Sun">일요일</ion-checkbox>
    </ion-item>
  </ion-list>
  <ion-button shape="round">
    prev
  </ion-button>
  <ion-button shape="round">
    next
    <!-- <ion-router>
      <ion-route url="/countdown" component="countdown"></ion-route>
    </ion-router> -->
  </ion-button>
</ion-content>
